  <p class="header titleSpacer" align="center" style="word-break: break-word; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-smooth: always; -webkit-font-smoothing: antialiased; color: #2b2b2b; font-size: 27px; font-weight: 300; padding: 24px 0 16px;">
    Congratulations, <%= @user.name %>
  </p>

  <p class="content spacer" align="center" style="word-break: break-word; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-smooth: always; -webkit-font-smoothing: antialiased; color: #666; font-size: 15px; font-weight: 300; line-height: 20px; padding-bottom: 14px;">
    Your account is confirmed,
    Your username is: <%= @user.name %>. <br>
    Now you can<%= link_to " accessto the site", @url, { style: "color: #08c; text-decoration: none;" }  %>, Enjoy it!<br>
  </p>