# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b7de4f3ef7f0510987dfeb37847947936da1cdf3e071171dfec6fde359f4228d69d95167e5140d531b5a4e883a7c78dd9a1ee2f76fac2ce9711713f0ec02fbe7

test:
  secret_key_base: 8d22e6850884574777b7322299c0d43700a388d2560b085e61cc93e64920e4cc3f712c457fee64c1659d5670315b83e0840195f5ac97f132535bdd8edf480105

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
